name: Build
on: [pull_request, push]

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
        
      - name: Set up JDK 21
        uses: actions/setup-java@v5.1.0
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Make gradle wrapper executable
        run: chmod +x ./gradlew
      
      - name: Build
        run: ./gradlew build --stacktrace --no-daemon

      - name: Setting mod version
        run: |
          cat $GITHUB_WORKSPACE/gradle.properties | grep '^mod_version *=' >> $GITHUB_ENV
          cat $GITHUB_WORKSPACE/gradle.properties | grep '^minecraft_version *=' >> $GITHUB_ENV
          cat $GITHUB_WORKSPACE/gradle.properties | grep '^archives_name *=' >> $GITHUB_ENV
      
      - name: Create package name
        run: echo "package_name=[$minecraft_version] $archives_name-$mod_version-SNAPSHOT.PR${{ github.event.number }}" >> $GITHUB_ENV
      
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ env.package_name }}
          path: |
            **/build/libs/
            !build/libs/
            !**/*-dev.jar
            !**/*-shadow.jar
            !**/*-transformProduction*.jar
